.contact {
    background: linear-gradient(105deg,
    rgba(21,31,32,1)0%,
    rgba(21,31,32,.95) 
    50%, transparent 50%)
    ,url(../../images/form-img.jpeg) center center no-repeat /cover;
}
.input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all .8s;
}

.input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593d;
}
.submit-button {
    background: #f5593d;
    color: #eee;
    transition: all .3s;
}
.submit-button:hover {
    background: #f5593d;
    transform: translateY(-3px);
}
.label {
    color: #777;
    display: block;
    margin-top: -60px;
    margin-left: 4px;
    font-size: 13px;
    transition: all .3s;
}

.input:placeholder-shown + .label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}
@media(max-width:992px) {
    .contact {
        background: linear-gradient(rgba(21,31,32,1),rgba(21,31,32, .95));
    }
    .contact-form {
        width: 80%;
        margin: auto;
    }
}
