.card-shadow {
    box-shadow: 8px 8px 20px #444;
}
.heading {
    position: absolute;
    top:70%;
    right: 0;
    background-color: #222;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
    /* font-size: 15px; */
    /* letter-spacing: 1px; */
}
.heading:hover {
 opacity: 1;   
}